<header class="site-header">

  <h1 class="site-title"><a [routerLink]="['/tasks']">todo</a></h1>

  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div *ngIf="loading">
      <span class="username text">loading...</span>
    </div>
    <div *ngIf="!loading && !!user">
      <a (click)="profile()">{{user.username}}</a>
      <a (click)="logout()">logout</a>
    </div>
    <div *ngIf="!loading && anon">
      <a (click)="login()">login</a>
      <a (click)="signup()">signup</a>
    </div>
  </div>  <hr/>
</header>

<router-outlet></router-outlet>

<footer class="site-footer">
  <hr/>
  <p>copyright bcnweb0817</p>
  <p><a [routerLink]="['/playground']">playground</a>
</footer>
